@import "tailwindcss";

@layer base {
  body,
  html {
    @apply text-light bg-[#020202] min-h-dvh overflow-x-hidden;
  }
  a {
    @apply cursor-pointer text-nowrap text-sm md:text-base hover:text-hover transition-colors duration-300;
  }
}

@layer components {
  .word4 {
    @apply text-highlight font-dancing-script capitalize text-4xl md:text-6xl;
  }
}

@theme {
  --color-light: #e0e7f5;
  --color-yellow: #e7d393;
  --color-citron: #dcd376;
  --color-highlight: var(--color-citron);
  --color-hover: var(--color-citron);
}

@utility font-modern-negra {
  font-family: var(--font-modern-negra);
}
@utility font-inter {
  font-family: var(--font-inter);
}
@utility font-cinzel {
  font-family: var(--font-cinzel);
}
@utility font-dancing-script {
  font-family: var(--font-dancing-script);
}
@utility row-center {
  @apply flex justify-center items-center;
}
@utility col-center {
  @apply flex flex-col justify-center items-center;
}
@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
