@import "tailwindcss";

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-modern-negra: "Modern Negra", sans-serif;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility col-center {
  @apply flex flex-col justify-center items-center;
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "modern-negra", sans-serif;
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }
}
