@import "tailwindcss";

/* dev  */
:not(body) {
  /* background-color: rgba(255, 153, 65, 0.02); */
}

@layer base {
  body,
  html {
    @apply text-white bg-black min-h-dvh overflow-x-hidden;
  }
  a {
    @apply cursor-pointer text-nowrap text-sm md:text-base hover:text-yellow transition-colors duration-300;
  }
}

@theme {
  --color-yellow: #e7d393;
  --color-green: #bdc667;
  --color-white-100: #efefef;
}

@utility font-modern-negra {
  font-family: var(--font-modern-negra);
}
@utility inter {
  font-family: var(--font-inter);
}
@utility font-dancing-script {
  font-family: var(--font-dancing-script);
}
@utility font-shadow {
  font-family: var(--font-shadow);
}
@utility row-center {
  @apply flex justify-center items-center;
}
@utility col-center {
  @apply flex flex-col justify-center items-center;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
